<nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
    <ul>
        <li><a href="/">
            <span class="icon is-small">
              <i class="fa fa-home" aria-hidden="true"></i>
            </span>
            <span>Overwatch</span></a></li>
        {{#if site_id}}
            <li><a href="/site?site_id={{site.Name}}">
                <span class="icon is-small">
              <i class="fa-solid fa-globe" aria-hidden="true"></i>
            </span>
                <span>{{site.Name}}</span></a>
            </li>
        {{/if}}
        {{#if bot_group_id}}
            <li><a href="/bot_group?bot_group_id={{bot_group_id}}">
                <span class="icon is-small">
              <i class="fa-solid fa-cubes" aria-hidden="true"></i>
            </span>
                <span>{{bot_group_id}}</span></a>
            </li>
        {{/if}}
        {{#if bot_id}}
        <li><a href="/bot?bot_id={{bot_id}}&bot_group_id={{bot_group_id}}">
            <span class="icon is-small">
              <i class="fa-solid fa-cube"></i>
            </span>
            <span>{{bot_id}}</span></a>
        </li>
        {{/if}}
        {{#if page_type}}
        <li class="is-active"><a href="#" aria-current="page">{{page_type}}</a></li>
        {{/if}}
        {{#if render_time}}
            <li class="is-active"><a href="#" aria-current="page">{{render_time}} UTC</a></li>
        {{/if}}
    </ul>
</nav>
