
<div class="block">
    <table class="table">
        <thead>
        <tr>
            <th><span class="has-tooltip-arrow" data-tooltip="Consideration Name">Name</span></th>
            <th><span class="has-tooltip-arrow" data-tooltip="Scoring Weight">Weight</span></th>
            <th><span class="has-tooltip-arrow" data-tooltip="Range Value Start">Start</span></th>
            <th><span class="has-tooltip-arrow" data-tooltip="Range Value End">End</span></th>
            <th><span class="has-tooltip-arrow" data-tooltip="Curve">Curve</span></th>
            <th><span class="has-tooltip-arrow" data-tooltip="Evaluated Score, not weighted">Eval</span></th>
            <th><span class="has-tooltip-arrow" data-tooltip="Final Score">Final</span></th>
        </tr>
        </thead>
        {{#if_consider_length Considerations 10}}
            <tfoot>
            <tr>
                <th><span class="has-tooltip-arrow" data-tooltip="Consideration Name">Name</span></th>
                <th><span class="has-tooltip-arrow" data-tooltip="Scoring Weight">Weight</span></th>
                <th><span class="has-tooltip-arrow" data-tooltip="Range Value Start">Start</span></th>
                <th><span class="has-tooltip-arrow" data-tooltip="Range Value End">End</span></th>
                <th><span class="has-tooltip-arrow" data-tooltip="Curve">Curve</span></th>
                <th><span class="has-tooltip-arrow" data-tooltip="Evaluated Score, not weighted">Eval</span></th>
                <th><span class="has-tooltip-arrow" data-tooltip="Final Score">Final</span></th>
            </tr>
            </tfoot>
        {{/if_consider_length}}
        <tbody>
        </tbody>

        {{#each action.Considerations as |consider considerIndex|}} <!-- Action Consideration:Start -->
            <tr>
                <th><span class="has-tooltip-arrow" data-tooltip="{{consider.Evaluate}}">{{consider.Name}}</span></th>
                <td>{{consider.Weight}}</td>
                <td>{{consider.RangeStart}}</td>
                <td>{{consider.RangeEnd}}</td>
                <td><button class="button is-small" onclick="GetPlot('{{consider.CurveName}}')">{{consider.CurveName}}</button></td>
                <td>{{get_bot_action_data_consideration_evaluated_score bot action consider}}</td>
                <td>{{get_bot_action_data_consideration_final_score bot action consider}}</td>
            </tr>

        {{/each}} <!-- Action Consideration:End -->

    </table>
</div>