<div class="card">
    <header class="card-header {{#with_bot_action bot action}}{{#if this.IsAvailable}}has-background-primary-light{{else}}has-background-info-light{{/if}}{{/with_bot_action}}">
        <p class="card-header-title">
            <span style="padding-right: 0.75em;">
            {{#with_bot_action bot action}}
                <span class="tag {{#if this.IsAvailable}}is-primary{{else}}is-danger{{/if}}">
                Score: {{format_float64 "%.2f" this.FinalScore}}
                </span>
            {{/with_bot_action}}
            </span>

            <span class="{{#with_bot_action bot action}}{{#if this.IsAvailable}}has-text-black{{else}}has-text-danger{{/if}}{{/with_bot_action}}">{{action.Name}}</span>

            <span style="padding-left: 1.5em">
                <span class="icon has-text-info has-tooltip-arrow" data-tooltip="Info" style="border-bottom: 0px solid !important;">
                  <i class="fas fa-info-circle"></i>
                </span>
                <span class="icon has-text-success has-tooltip-arrow" data-tooltip="Action" style="border-bottom: 0px solid !important;">
                  <i class="fas fa-check-square"></i>
                </span>
                <span class="icon has-text-warning has-tooltip-arrow" data-tooltip="Force Execute" style="border-bottom: 0px solid !important;">
                  <i class="fas fa-exclamation-triangle"></i>
                </span>
                <span class="icon has-text-danger has-tooltip-arrow" data-tooltip="Edit" style="border-bottom: 0px solid !important;">
                  <i class="fas fa-ban"></i>
                </span>
            </span>
            <span style="padding-left: 1.5em">
                {{#with_bot_action bot action}}
                    {{#if_not_time_never this.LastExecutedActionTime}}
                        Last Executed: {{format_time_since this.LastExecutedActionTime}}
                    {{/if_not_time_never}}
                {{/with_bot_action}}
            </span>
            <span style="padding-left: 1.5em">
                {{#with_bot_action bot action}}
                    {{#if this.IsAvailable}}
                       Available Since: {{format_time_since this.AvailableStartTime}}
                    {{/if}}
                {{/with_bot_action}}
            </span>
        </p>
        <button class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true" onclick="$('#action_content_{{actionIndex}}').toggleClass('is-hidden')"></i>
      </span>
        </button>
    </header>

    <!--<div class="card-content is-hidden" id="action_content_{{actionIndex}}">-->
    <div class="card-content" id="action_content_{{actionIndex}}">
        {{> 'partials/consider/table' }}

        <div class="content">
            <h3 class="is-medium">Details</h3>
            {{#with_bot_action bot action}}
                <ul>
                {{#each this.Details}}
                    <li>{{this}}</li>
                {{/each}}
                </ul>
            {{/with_bot_action}}
        </div>

    </div>
</div>