<div class="card">
    <header class="card-header {{#with_bot_action bot action}}{{#if this.IsAvailable}}has-background-primary-light{{else}}has-background-info-light{{/if}}{{/with_bot_action}}">
        <p class="card-header-title">
            <!-- Action Final Score -->
            <span style="padding-right: 0.75em;">
            {{#with_bot_action bot action}}
                <span class="tag {{#if this.IsAvailable}}is-primary{{else}}is-danger{{/if}} has-tooltip-arrow" data-tooltip="{{get_string_slice_index this.Details -1}}">
                Score: {{format_float64 "%.2f" this.FinalScore}}
                </span>
            {{/with_bot_action}}
            </span>

            <!-- Name -->
            <span class="{{#with_bot_action bot action}}{{#if this.IsAvailable}}has-text-black{{else}}has-text-danger{{/if}}{{/with_bot_action}}">{{action.Name}}</span>

            <!-- Icon Controls -->
            <span style="padding-left: 1.5em">
                <span class="icon has-text-info has-tooltip-arrow" data-tooltip="Info" style="border-bottom: 0 solid !important;">
                  <i class="fas fa-info-circle" onclick="Toast('info', 'Not Implemented', 'Would you like to know more?')"></i>
                </span>
                <span class="icon has-text-success has-tooltip-arrow" data-tooltip="Edit" style="border-bottom: 0 solid !important;">
                  <i class="fa-solid fa-pen" onclick="Toast('success', 'Not Implemented', 'There is a time for changes.')"></i>
                </span>
                <span class="icon has-text-danger has-tooltip-arrow" data-tooltip="Force Execute" style="border-bottom: 0 solid !important;">
                  <i class="fas fa-ban" onclick="Toast('danger', 'Not Implemented', 'I am the law.')"></i>
                </span>
            </span>

            <!-- States -->
            <span style="padding-left: 1.5em">
                {{#each action.RequiredStates as |state stateIndex|}}
                    <span class="tag {{#if_string_in_slice bot.StateValues state}}is-primary{{else}}is-danger{{/if_string_in_slice}} has-tooltip-arrow"
                          data-tooltip="{{#if_string_in_slice bot.StateValues state}}State is Active{{else}}State is not Active, so this Action is not available.{{/if_string_in_slice}}"
                          style="border-bottom: 0 solid !important;">

                        {{state}}

                    </span>
                {{/each}}
            </span>

            <!-- Last Executed Time -->
            <span style="padding-left: 1.5em">
                {{#with_bot_action bot action}}
                    {{#if_not_time_never this.LastExecutedActionTime}}
                        Executed: {{format_time_since this.LastExecutedActionTime}}
                    {{/if_not_time_never}}
                {{/with_bot_action}}
            </span>

            <!-- Available Since -->
            <span style="padding-left: 1.5em">
                {{#with_bot_action bot action}}
                    {{#if this.IsAvailable}}
                        Available: {{format_time_since this.AvailableStartTime}}
                    {{/if}}
                {{/with_bot_action}}
            </span>

        </p>
        <button class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true" onclick="ToggleClassAndSave('#action_content_{{format_html_id action.Name}}', 'is-hidden', 'is_hidden.action_content_{{format_html_id action.Name}}')"></i>
      </span>
        </button>
    </header>

    <div class="card-content is-hidden" id="action_content_{{format_html_id action.Name}}">
        {{> 'partials/consider/table' }}

        <div class="content">
            <h3 class="is-medium">Details</h3>
            {{#with_bot_action bot action}}
                <ul>
                {{#each this.Details}}
                    <li>{{this}}</li>
                {{/each}}
                </ul>
            {{/with_bot_action}}
        </div>

    </div>
</div>
<script>
    // Each time we render a card, check if it should be hidden or not.  Generic pattern to store page display info
    saveKey = 'is_hidden.action_content_{{format_html_id action.Name}}'
    hasClassBool = localStorage.getItem(saveKey);
    if (hasClassBool !== 'false') {
        $('#action_content_{{format_html_id action.Name}}').addClass('is-hidden')
    } else {
        $('#action_content_{{format_html_id action.Name}}').removeClass('is-hidden')
    }
</script>
