
<div class="block">
    <table class="table">
        <thead>
        <tr>
            <th><span class="has-tooltip-arrow" data-tooltip="Bot Group is group of agents">Group</span></th>
            <th><span class="has-tooltip-arrow" data-tooltip="Bots are agents of a Bot Group">Bot</span></th>
            <th><span class="has-tooltip-arrow" data-tooltip="Log of the command run, hover for Condition name">Command Log</span></th>
            <th><span class="has-tooltip-arrow" data-tooltip="Time Condition was initiated">Started</span></th>
            <th><span class="has-tooltip-arrow" data-tooltip="Score of the Condition to make it execute">Score</span></th>
            <th><span class="has-tooltip-arrow" data-tooltip="Hover the icons for the Bot States, before and after executing command">States</span></th>
        </tr>
        </thead>
        {{#if_command_history_length commandHistory 20}}
            <tfoot>
            <tr>
                <th><span class="has-tooltip-arrow" data-tooltip="Bot Group is group of agents">Group</span></th>
                <th><span class="has-tooltip-arrow" data-tooltip="Bots are agents of a Bot Group">Bot</span></th>
                <th><span class="has-tooltip-arrow" data-tooltip="Log of the command run, hover for Condition name">Command Log</span></th>
                <th><span class="has-tooltip-arrow" data-tooltip="Time Condition was initiated">Started</span></th>
                <th><span class="has-tooltip-arrow" data-tooltip="Score of the Condition to make it execute">Score</span></th>
            </tr>
            </tfoot>
        {{/if_command_history_length}}
        <tbody>
        </tbody>

        {{#each commandHistory as |command commandIndex|}}
        <tr>
            <td><a href="bot_group?bot_group_id={{command.BotGroupName}}">{{command.BotGroupName}}</a></td>
            <td><a href="bot?bot_id={{command.BotName}}&bot_group_id={{command.BotGroupName}}">{{command.BotName}}</a></td>
            <td><span class="has-tooltip-arrow" data-tooltip="Condition: {{command.ConditionName}}">{{command.CommandLog}}</span></td>
            <td>{{format_time command.Started}}</td>
            <td>{{command.Score}}</td>
            <td><span class="has-tooltip-arrow" data-tooltip="Before: {{format_array_string_csv command.StatesBefore}}"><i class="fa-solid fa-arrow-left"></i></span> <span class="has-tooltip-arrow" data-tooltip="After: {{format_array_string_csv command.StatesAfter}}"><i class="fa-solid fa-arrow-right"></i></span></td>
        </tr>
        {{/each}}

    </table>
</div>