<div class="card">
    <div class="card-content">
        <h2 class="title is-primary is-4">{{botGroup.Name}} States</h2>
        {{#each botGroup.States as |state stateIndex|}}
            <div class="columns is-gapless">
                <div class="column is-one-third">
                    <strong>{{state.Name}}:</strong>
                </div>
                <div class="column">
                    <div class="field is-grouped is-grouped-multiline">
                        {{#each state.Labels as |label labelIndex|}} <!-- Bot Group States:Start -->
                            {{#with_bots_in_state botGroup state.Name label as |bots|}}
                                {{#get_array_bot_names bots as |botNames|}}
                                {{#get_len_array_bot bots as |botStateCount|}}
                                    {{#if botStateCount}}
                                        <div class="control" style="padding: 0.1em;">
                                            <div class="tags has-addons has-tooltip-arrow" data-tooltip="{{format_array_string_csv botNames}}" style="border-bottom: 0px solid !important;">
                                                <span class="tag is-warning">{{label}}</span>
                                                <span class="tag is-info">{{botStateCount}}</span>
                                            </div>
                                        </div>
                                    {{/if}}
                                {{/get_len_array_bot}}
                                {{/get_array_bot_names}}
                            {{/with_bots_in_state}}
                        {{/each}} <!-- Bot Group States:End -->
                    </div>
                </div>
            </div>
        {{/each}}

        <div>
            <div class="divider">Variables</div>
        </div>

        <div class="field is-grouped is-grouped-multiline">

            <!-- BAD PERF!!!  I'm being wasteful to skip time on the demo, but it will search ALL the BotGroups for these vars.  It's not targeted.  I should target them per BotGroup -->
            {{#with_bot_group_bot_variable_by_name botGroup "link_state" as |botVars|}} <!-- Bot Group: All Bot Variables for 1 Name:Start -->
                {{#each botVars as |botVar botVarIndex|}}
                    <div class="control">
                        <div class="tags has-addons has-tooltip-arrow" data-tooltip="{{botVar.bot_group_name}}" style="border-bottom: 0px solid !important;">
                            <span class="tag is-link">{{botVar.bot_name}}</span>
                            <span class="tag is-warning">{{botVar.name}}</span>
                            <span class="tag is-info">{{botVar.value}}</span>
                        </div>
                    </div>
                {{/each}}
            {{/with_bot_group_bot_variable_by_name}} <!-- Bot Group: All Bot Variables for 1 Name:End -->

            {{#with_bot_group_bot_variable_by_name botGroup "processed" as |botVars|}} <!-- Bot Group: All Bot Variables for 1 Name:Start -->
                {{#each botVars as |botVar botVarIndex|}}
                    <div class="control">
                        <div class="tags has-addons has-tooltip-arrow" data-tooltip="{{botVar.bot_group_name}}" style="border-bottom: 0px solid !important;">
                            <span class="tag is-link">{{botVar.bot_name}}</span>
                            <span class="tag is-warning">{{botVar.name}}</span>
                            <span class="tag is-info">{{botVar.value}}</span>
                        </div>
                    </div>
                {{/each}}
            {{/with_bot_group_bot_variable_by_name}} <!-- Bot Group: All Bot Variables for 1 Name:End -->

            {{#with_bot_group_bot_variable_by_name botGroup "timeout_rate" as |botVars|}} <!-- Bot Group: All Bot Variables for 1 Name:Start -->
                {{#each botVars as |botVar botVarIndex|}}
                    <div class="control">
                        <div class="tags has-addons has-tooltip-arrow" data-tooltip="{{botVar.bot_group_name}}" style="border-bottom: 0px solid !important;">
                            <span class="tag is-link">{{botVar.bot_name}}</span>
                            <span class="tag is-warning">{{botVar.name}}</span>
                            <span class="tag is-info">{{botVar.value}}</span>
                        </div>
                    </div>
                {{/each}}
            {{/with_bot_group_bot_variable_by_name}} <!-- Bot Group: All Bot Variables for 1 Name:End -->

            {{#with_bot_group_bot_variable_by_name botGroup "wait_queue" as |botVars|}} <!-- Bot Group: All Bot Variables for 1 Name:Start -->
                {{#each botVars as |botVar botVarIndex|}}
                    <div class="control">
                        <div class="tags has-addons has-tooltip-arrow" data-tooltip="{{botVar.bot_group_name}}" style="border-bottom: 0px solid !important;">
                            <span class="tag is-link">{{botVar.bot_name}}</span>
                            <span class="tag is-warning">{{botVar.name}}</span>
                            <span class="tag is-info">{{botVar.value}}</span>
                        </div>
                    </div>
                {{/each}}
            {{/with_bot_group_bot_variable_by_name}} <!-- Bot Group: All Bot Variables for 1 Name:End -->

        </div>
    </div>
</div>
