<div class="card">
    <div class="card-content">
        <h2 class="title is-primary is-4">{{botGroup.Name}} States</h2>
        {{#each botGroup.States as |state stateIndex|}}
            <div class="columns is-gapless">
                <div class="column is-one-third">
                    <strong>{{state.Name}}:</strong>
                </div>
                <div class="column">
                    <div class="field is-grouped is-grouped-multiline">
                        {{#each state.Labels as |label labelIndex|}} <!-- Bot Group States:Start -->
                            {{#with_bots_in_state botGroup state.Name label as |bots|}}
                                {{#get_array_bot_names bots as |botNames|}}
                                {{#get_len_array_bot bots as |botStateCount|}}
                                    {{#if botStateCount}}
                                        <div class="control" style="padding: 0.1em;">
                                            <div class="tags has-addons has-tooltip-arrow" data-tooltip="{{format_array_string_csv botNames}}" style="border-bottom: 0px solid !important;">
                                                <span class="tag is-warning">{{label}}</span>
                                                <span class="tag is-info">{{botStateCount}}</span>
                                            </div>
                                        </div>
                                    {{/if}}
                                {{/get_len_array_bot}}
                                {{/get_array_bot_names}}
                            {{/with_bots_in_state}}
                        {{/each}} <!-- Bot Group States:End -->
                    </div>
                </div>
            </div>
        {{/each}}

        <div>
            <div class="divider">Variables</div>
        </div>

        <div class="field is-grouped is-grouped-multiline">
            <div class="control" style="padding: 0.1em;">
                <div class="tags has-addons has-tooltip-arrow" data-tooltip="asdf" style="border-bottom: 0px solid !important;">
                    <span class="tag is-link">SFO-WAS11</span>
                    <span class="tag is-warning">stuff</span>
                    <span class="tag is-info">79</span>
                </div>
            </div>
            <div class="control" style="padding: 0.1em;">
                <div class="tags has-addons has-tooltip-arrow" data-tooltip="asdf" style="border-bottom: 0px solid !important;">
                    <span class="tag is-link">SFO-WAS11</span>
                    <span class="tag is-warning">Cool </span>
                    <span class="tag is-info">79</span>
                </div>
            </div>
        </div>
    </div>
</div>
