
<div class="block">
    <table class="table">
        <thead>
        <tr>
            <th><span class="has-tooltip-arrow" data-tooltip="Bot name, extracted from Metric metadata">Name</span></th>
            <th><span class="has-tooltip-arrow" data-tooltip="Description">Info</span></th>
            <th><span class="has-tooltip-arrow" data-tooltip="Active States">States</span></th>
        </tr>
        </thead>
        {{#if_bot_length botGroup.Bots 10}}
            <tfoot>
            <tr>
                <th><span class="has-tooltip-arrow" data-tooltip="Bot name, extracted from Metric metadata">Name</span></th>
                <th><span class="has-tooltip-arrow" data-tooltip="Description">Info</span></th>
                <th><span class="has-tooltip-arrow" data-tooltip="Active States">States</span></th>
            </tr>
            </tfoot>
        {{/if_bot_length}}
        <tbody>
        </tbody>

        {{#each botGroup.Bots as |bot botIndex|}} <!-- Action Consideration:Start -->

            <tr>
                <th><a href="/bot?bot_id={{bot.Name}}&bot_group_id={{botGroup.Name}}">{{bot.Name}}</a></th>
                <td>{{bot.Info}}</td>
                <td>{{format_array_string_csv bot.StateValues}}</td>
            </tr>

        {{/each}} <!-- Action Consideration:End -->

    </table>
</div>