
<div class="block">
    <table class="table">
        <thead>
        <tr>
            <th><span class="has-tooltip-arrow" data-tooltip="Variable that is extracted from Metrics or Synthesized after">Name</span></th>
            <th><span class="has-tooltip-arrow" data-tooltip="Type of data">Type</span></th>
            <th><span class="has-tooltip-arrow" data-tooltip="Name of the query to extract this variable from">Query Name</span></th>
            <th><span class="has-tooltip-arrow" data-tooltip="Key in the query to extract this variable from">Query Key</span></th>
            <th><span class="has-tooltip-arrow" data-tooltip="If this is a Boolean, start of the float range for a true value">Range Start</span></th>
            <th><span class="has-tooltip-arrow" data-tooltip="If this is a Boolean, end of the float range for a true value">Range End</span></th>
            <th><span class="has-tooltip-arrow" data-tooltip="If this is a Boolean, do we invert the Range test result?">Invert</span></th>
        </tr>
        </thead>
        {{#if_variable_length Variables 10}}
            <tfoot>
            <tr>
                <th><span class="has-tooltip-arrow" data-tooltip="Variable that is extracted from Metrics or Synthesized after">Name</span></th>
                <th><span class="has-tooltip-arrow" data-tooltip="Type of data">Type</span></th>
                <th><span class="has-tooltip-arrow" data-tooltip="Name of the query to extract this variable from">Query Name</span></th>
                <th><span class="has-tooltip-arrow" data-tooltip="Key in the query to extract this variable from">Query Key</span></th>
                <th><span class="has-tooltip-arrow" data-tooltip="If this is a Boolean, start of the float range for a true value">Range Start</span></th>
                <th><span class="has-tooltip-arrow" data-tooltip="If this is a Boolean, end of the float range for a true value">Range End</span></th>
                <th><span class="has-tooltip-arrow" data-tooltip="If this is a Boolean, do we invert the Range test result?">Invert</span></th>
            </tr>
            </tfoot>
        {{/if_variable_length}}
        <tbody>
        </tbody>

        {{#each botGroup.Variables as |variable variableIndex|}} <!-- Query:Start -->

            <tr>
                <th>{{variable.Name}}</th>
                <td>{{format_variable_type variable.Type}}</td>
                <td>{{variable.QueryName}}</td>
                <td>{{variable.QueryKey}}</td>
                <td>{{variable.BoolRangeStart}}</td>
                <td>{{variable.BoolRangeEnd}}</td>
                <td>{{variable.BoolInvert}}</td>
            </tr>


        {{/each}} <!-- Query:End -->

    </table>
</div>