
<div class="block">
    <table class="table">
        <thead>
        <tr>
            <th><span class="has-tooltip-arrow" data-tooltip="Queries are referenced by this name">Name</span></th>
            <th><span class="has-tooltip-arrow" data-tooltip="The Prometheus metric query">Query</span></th>
            <th><span class="has-tooltip-arrow" data-tooltip="Named Server the query is made against">Server</span></th>
            <th><span class="has-tooltip-arrow" data-tooltip="Description">Info</span></th>
        </tr>
        </thead>
        {{#if_query_length Queries 10}}
            <tfoot>
            <tr>
                <th><span class="has-tooltip-arrow" data-tooltip="Queries are referenced by this name">Name</span></th>
                <th><span class="has-tooltip-arrow" data-tooltip="The Prometheus metric query">Query</span></th>
                <th><span class="has-tooltip-arrow" data-tooltip="Named Server the query is made against">Server</span></th>
                <th><span class="has-tooltip-arrow" data-tooltip="Description">Info</span></th>
            </tr>
            </tfoot>
        {{/if_query_length}}
        <tbody>
        </tbody>

        {{#each botGroup.Queries as |query queryIndex|}} <!-- Query:Start -->

            <tr>
                <th>{{query.Name}}</th>
                <td><a href="{{format_query_web site query}}">{{query.Query}}</a></td>
                <td>{{query.QueryServer}}</td>
                <td>{{query.Info}}</td>
            </tr>

        {{/each}} <!-- Query:End -->

    </table>
</div>