
<div class="block">
    <table class="table">
        <thead>
        <tr>
            <th><span class="has-tooltip-arrow" data-tooltip="Interactive Session UUID">Session</span></th>
            <th><span class="has-tooltip-arrow" data-tooltip="Query Server, click to see query in server">Server</span></th>
            <th><span class="has-tooltip-arrow" data-tooltip="Query, click for graph">Query</span></th>
            <th><span class="has-tooltip-arrow" data-tooltip="Time Requested, click for metrics JSON">Requested</span></th>
            <th><span class="has-tooltip-arrow" data-tooltip="Time Received">Received</span></th>
            <th><span class="has-tooltip-arrow" data-tooltip="Is Valid Response?">Valid</span></th>
            <th><span class="has-tooltip-arrow" data-tooltip="Query Start Time">Start</span></th>
            <th><span class="has-tooltip-arrow" data-tooltip="Query Duration, gives Query End Time">Duration</span></th>
        </tr>
        </thead>
        {{#if_query_length Queries 10}}
            <tfoot>
            <tr>
                <th><span class="has-tooltip-arrow" data-tooltip="Interactive Session UUID">Session</span></th>
                <th><span class="has-tooltip-arrow" data-tooltip="Query Server, click to see query in server">Server</span></th>
                <th><span class="has-tooltip-arrow" data-tooltip="Query, click for graph">Query</span></th>
                <th><span class="has-tooltip-arrow" data-tooltip="Time Requested, click for metrics JSON">Requested</span></th>
                <th><span class="has-tooltip-arrow" data-tooltip="Time Received">Received</span></th>
                <th><span class="has-tooltip-arrow" data-tooltip="Is Valid Response?">Valid</span></th>
                <th><span class="has-tooltip-arrow" data-tooltip="Query Start Time">Start</span></th>
                <th><span class="has-tooltip-arrow" data-tooltip="Query Duration, gives Query End Time">Duration</span></th>
            </tr>
            </tfoot>
        {{/if_query_length}}
        <tbody>
        </tbody>

        {{#each site.QueryResultCache.PoolItems as |poolItem poolItemIndex|}} <!-- Pool Item:Start -->

            <tr>
                <th>{{poolItem.InteractiveUUID}}</th>
                <th>
                    {{#with_query_server poolItem.QueryServer site}}
                    <a href="{{format_query_server_web this poolItem.Query}}">{{poolItem.QueryServer}}</a>
                    {{/with_query_server}}
                </th>
                <th><a href="#" onclick="GetPlotMetricData('{{poolItem.InteractiveUUID}}.{{poolItem.QueryServer}}.{{poolItem.Query}}')">{{poolItem.Query}}</a></th>
                <th><a href="/raw/metrics?query_key={{poolItem.InteractiveUUID}}.{{poolItem.QueryServer}}.{{poolItem.Query}}">{{format_time_since_precise poolItem.TimeRequested}}</a></th>
                <th>{{format_time_since_precise poolItem.TimeReceived}}</th>
                <th>{{poolItem.IsValid}}</th>
                <th>{{format_time poolItem.QueryStartTime}}</th>
                <th>{{format_duration poolItem.QueryDuration}}</th>
            </tr>

        {{/each}} <!-- Pool Item:End -->

    </table>
</div>