<section class="section">
    <div class="container">
        <h1 class="title">
            {{info}}
        </h1>
        <p class="subtitle">
            {{bot.Name}}
        </p>
        <p>

Bot: {{botinfo bot}}

{{#each bot.Actions}} <!-- Action:Start -->

<h2>Action: {{Name}} - {{Weight}}</h2>

{{#each Considerations}} <!-- Action Consideration:Start -->

<h3>Consider: {{Name}} - {{Weight}} -- {{CurveName}}</h3>

{{/each}} <!-- Action Consideration:End -->

{{/each}} <!-- Action:End -->

        </p>
    </div>
</section>
