<section class="section">
    {{> 'partials/breadcrumbs_common' }}
    <div class="container">
        <h1 class="title is-1">
            {{info}}
        </h1>
        <p class="subtitle">
            {{bot.Name}}
        </p>

        <div class="block">
            <div class="box">
                <h1 class="title is-big">Bot: {{botinfo bot}}</h1>

                {{#each bot.Actions}} <!-- Action:Start -->

                    <h2>Action: {{Name}} - {{Weight}}</h2>

                    {{#each Considerations}} <!-- Action Consideration:Start -->

                        <p>Consider: <span class="tag is-info">{{Name}}</span> - {{Weight}} -- <span class="tag is-info">{{CurveName}}</span></p>

                    {{/each}} <!-- Action Consideration:End -->

                {{/each}} <!-- Action:End -->

            </div>
        </div>

        <div class="block">
        <div class="notification is-info">
            <button class="delete"></button>
            {{#if test_one}}
                <p class="content">Notice: Active</p>
            {{else if test_two}}
                <p class="content">Notice: Inactive</p>
            {{else}}
                <p class="content">Notice: Unknown</p>
            {{/if}}
        </div>
        </div>

        <div class="tags">
            <span class="tag is-success">Tag 1
                <button class="delete is-small"></button>
            </span>
            <span class="tag is-info">Tag 2</span>
            <span class="tag is-warning">Tag 3</span>
        </div>

        <div class="field is-grouped is-grouped-multiline">

            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-success">Start Infospan></span>
                    <span class="tag is-info">End Info<button class="delete is-small"></button></span>
                </div>
            </div>

            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-success">More</span>
                    <span class="tag is-info">Here<button class="delete is-small"></button></span>
                </div>
            </div>

            <div class="control">
                <div class="tags has-addons">
                    <a class="tag is-link">Easier</a>
                    <a class="tag is-delete"></a>
                </div>
            </div>

            <div class="control">
                <div class="tags has-addons">
                    <a class="tag is-link">Like This</a>
                    <a class="tag is-delete"></a>
                </div>
            </div>

        </div>

        {{#unless license}}
            <p class="content">Opposite of If = Unless</p>
        {{/unless}}

        {{#equal bot.Name "Bot Service X"}}<p class="content is-small">Botname is Service X</p>{{/equal}}


        {{#each bot.Actions as |action actionIndex|}}
            {{#each action.Considerations as |consider considerIndex|}}
                <p class="content is-medium">Consider: {{consider.Name}} ID: {{considerIndex}}</p>
            {{/each}}
        {{/each}}

        <div class="columns">
            <div class="column"> <!-- Column:Start -->
                <div class="card">
                    <div class="card-content">
                        <h2 class="title is-primary">Something</h2>
                        <h3 class="subtitle">Else</h3>
                    </div>
                    <footer class="card-footer">
                        <div class="card-footer-item">
                            <a href="#" class="button is-success is-outlined">
                                <i class="fa fa-thumbs-up"></i>
                            </a>
                        </div>
                        <div class="card-footer-item">
                            <a href="#" class="button is-danger is-outlined">
                                <i class="fa fa-thumbs-down"></i>
                            </a>
                        </div>
                        <div class="card-footer-item">
                            <a href="#" class="button is-info is-outlined">
                                <i class="fa fa-cloud"></i>
                            </a>
                        </div>
                    </footer>
                </div>
            </div> <!-- Column:End -->
            <div class="column"> <!-- Column:Start -->
                <div class="card">
                    <div class="card-content">
                        <h2 class="title is-primary">Other</h2>
                        <h3 class="subtitle">Thing</h3>
                    </div>
                    <footer class="card-footer">
                        <div class="card-footer-item">
                            <a href="#" class="button is-success is-outlined">
                                <i class="fa fa-thumbs-up"></i>
                            </a>
                        </div>
                        <div class="card-footer-item">
                            <a href="#" class="button is-danger is-outlined">
                                <i class="fa fa-thumbs-down"></i>
                            </a>
                        </div>
                        <div class="card-footer-item">
                            <a href="#" class="button is-warning is-outlined is-inverted">
                                <i class="fa fa-cloud"></i>
                            </a>
                        </div>
                    </footer>
                </div>
            </div> <!-- Column:End -->
        </div>

    </div>
</section>
