<section class="section">
    <div class="container">
        <h1 class="title is-1">
            {{info}}
        </h1>
        <p class="subtitle">
            {{bot.Name}}
        </p>

        <div class="block">
            <div class="box">
                <h1 class="title is-big">Bot: {{botinfo bot}}</h1>

                {{#each bot.Actions}} <!-- Action:Start -->

                    <h2>Action: {{Name}} - {{Weight}}</h2>

                    {{#each Considerations}} <!-- Action Consideration:Start -->

                        <h3>Consider: {{Name}} - {{Weight}} -- {{CurveName}}</h3>

                    {{/each}} <!-- Action Consideration:End -->

                {{/each}} <!-- Action:End -->

            </div>
        </div>

        {{#if test_one}}
            <p class="content">Active</p>
        {{else if test_two}}
            <p class="content">Inactive</p>
        {{else}}
            <p class="content">Unknown</p>
        {{/if}}

        {{#unless license}}
            <p class="content">Opposite of If = Unless</p>
        {{/unless}}

        {{#equal bot.Name "Bot Service X"}}<p class="content is-small">Botname is Service X</p>{{/equal}}


        {{#each bot.Actions as |action actionIndex|}}
            {{#each action.Considerations as |consider considerIndex|}}
                <p class="content is-medium">Consider: {{consider.Name}} ID: {{considerIndex}}</p>
            {{/each}}
        {{/each}}

        <div class="columns">
            <div class="column"> <!-- Column:Start -->
                <div class="card">
                    <div class="card-content">
                        <h2 class="title is-primary">Something</h2>
                        <h3 class="subtitle">Else</h3>
                    </div>
                    <footer class="card-footer">
                        <div class="card-footer-item">
                            <a href="#" class="button is-success">
                                <i class="fa fa-thumbs-up"></i>
                            </a>
                        </div>
                        <div class="card-footer-item">
                            <a href="#" class="button is-danger">
                                <i class="fa fa-thumbs-down"></i>
                            </a>
                        </div>
                        <div class="card-footer-item">
                            <a href="#" class="button is-info is-outlined">
                                <i class="fa fa-cloud"></i>
                            </a>
                        </div>
                    </footer>
                </div>
            </div> <!-- Column:End -->
            <div class="column"> <!-- Column:Start -->
                <div class="card">
                    <div class="card-content">
                        <h2 class="title is-primary">Other</h2>
                        <h3 class="subtitle">Thing</h3>
                    </div>
                    <footer class="card-footer">
                        <div class="card-footer-item">
                            <a href="#" class="button is-success">
                                <i class="fa fa-thumbs-up"></i>
                            </a>
                        </div>
                        <div class="card-footer-item">
                            <a href="#" class="button is-danger">
                                <i class="fa fa-thumbs-down"></i>
                            </a>
                        </div>
                        <div class="card-footer-item">
                            <a href="#" class="button is-warning is-outlined is-inverted">
                                <i class="fa fa-cloud"></i>
                            </a>
                        </div>
                    </footer>
                </div>
            </div> <!-- Column:End -->
        </div>

    </div>
</section>
